@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* Layout */
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif !important;
}

.main-layout {
  min-height: 100vh !important;
  font-family: sans-serif;
  background-color: #f9fafb;
}

.main-layout-container {
  background-color: #ffffff;
  min-height: 100vh;
  height: 100%;
}

.layout-container {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

@media (min-width: 900px) {
  .layout-container {
    flex-direction: row;
  }
}

/* Mobile Header */
.mobile-header {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  justify-content: space-between;
  align-items: baseline;
}

.mobile-menu-btn {
  background: none;
  border: none;
  color: #4b5563;
  cursor: pointer;
  font-size: 1.25rem;
}

.mobile-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 1rem;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

/* Sidebar */

.app-name {
  font-size: 1.5rem;
  font-weight: 800;
  color: #36cfdc;
}
.app-name-sub {
  color: #2b2361;
}

.content-card {
  background: white;
  padding: 0px 10px;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.welcome-text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0px;
}

.content-subtext {
  color: #6b7280;
  margin-bottom: 1.5rem;
}
